        table {
                border-collapse: collapse;
                background-color: #C2c2c2;
                font-family: Arial;
            }

            td {
                padding: 2px;
                border: 1px solid black;
                text-align: center;
                width: 30px;
                height: 30px;
            }

            tr:first-child,
            td:first-child {
                font-weight: bold;
                background-color: grey;

            }